
// For sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#content {
  flex: 1;
}


#footer {
  color: white;
  background-color: $black;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}