<div class="container">
    <div class="row widgets-container">
        {{ footer_widgets }}
    </div>
</div>

<div class="legals">
    <p>
        {{ site.name }}
        -
        Tous droits réservés
        -
        {{"now"|date('Y')}}
        -
        Une création <a href="http://www.begital.com" target="_blank">Begital & Associés</a>
        -
        <a href="/?p=54">Mentions légales</a>
    </p>
</div>